@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: rgb(176, 120, 250);
    color: rgba(176, 43, 194, 0.61);
    font-family: 'press start 2p', cursive;
    margin: 0;
    padding: 0;
}

header {
    background-color:rgba(176, 43, 194, 0.445);
    color: blueviolet;
    text-align: center;
    border-radius: 10px;
    padding:20px;
    margin:20px

}

h1 {
    font-family: 'press start 2p', cursive;
    color:aliceblue;
    font-size:2.5em;
}

.character-select{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap:30px;
padding:20px;
}   

.character-card {
    background-color: rgba(255, 192, 203, 0.452);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 3px solid blueviolet;
    padding: 15px;
    text-align: center;
    width: 250px;
    transition: all 0.3s ease-in-out;
}

.character-card:hover {
    transform: scale(1.05);
   border-color:rgb(101, 7, 252);
    box-shadow: 0 0 20px blueviolet;
    cursor: pointer;
}

#ninfa:hover {
    box-shadow: 0 0 20px rgb(140, 0, 255);
    border-color:rgb(101, 7, 252);
}

#Goblin:hover {
     box-shadow: 0 0 20px rgb(140, 0, 255);
    border-color:rgb(119, 0, 255);
}

#Bruxa:hover {
    box-shadow: 0 0 20px rgb(140, 0, 255);
    border-color:rgb(119, 0, 255);
}


.character-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
    border:2px solid blueviolet;
}

.character-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    margin-top:10px;
}