body {
    background-color: rgb(248, 199, 215);
}

.header{
    background-color: rgb(235, 247, 193);
    color:rgb(250, 136, 160);
    text-align: center;
    padding: 10px;
}

.container{
    margin: 20px;
    padding: 20px;
    background-color: darkred;
    boderder-radius: 5px;
    border-radius: 5px;
    border: 10px solid yellow;

}

.caixa2{
    background-color: yellow
    
}

.gallery img {
    width: 120px; /* ajuste para o tamanho desejado */
    height: auto;
    object-fit: cover; /* mantém proporção e corta se necessário */
    display: inline-block;
    margin-right: 8px; 
}