body {
 background-color: rgb(237, 100, 168);
 margin: 0;
 min-height: 100vh;
 font-family: 'Segoe UI', Arial, sans-serif;
 background: linear-gradient(to right, rgb(253, 163, 208), rgb(255, 88, 185));
 justify-content: center;
 text-align: center;


}

h1 {
    background-color:rgb(119, 246, 250);
    justify-content: center;
    text-align: center;
    padding: 10px 20px 30px 40px;
    margin: 5px 10px 15px 20px;

}

